@tailwind base;
@tailwind components;
@tailwind utilities;

html.lenis, html.lenis body {
  height:auto;
}

.lenis.lenis-smooth{
  scroll-behavior:auto !important;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes heartbeat {
  0%, 100%{
    box-shadow:0 0 0px #006830;
  }
  50% {
    box-shadow: 0 0 20px #006830;
  }
}
